<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <h4>비밀번호 찾기</h4>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
    <form th:action="@{/user/findpassword}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="가입 시 등록한 이메일을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">임시 비밀번호 발송</button>
    </form>
</div>
</html>